<p class="OwnerManage"><img src="image/mplatform_icon_currrent.png" class="homeImg"><span>设置 / 网关设置</span></p>
<section class="gatewaySetting">
<ul class="list-unstyled list-inline gatewaySearch">
    <li><span style="margin: 0 12px;">片区</span><input type="text" class="normalIput"></li>
    <li style="margin-left:9px;"><span style="margin: 0 12px;">网关ID</span><input type="text" class="normalIput"></li>
    <li><div class="gatewayQuery text-center"><img src="image/search.png"><span style="margin-left: 10px;">查询</span></div></li>
</ul>
    <table class="table table-striped text-center">
        <tr>
            <th class="text-center">序号</th>
            <th class="text-center">片区</th>
            <th class="text-center">网关</th>
            <th class="text-center">操作</th>
        </tr>
        <tr >
            <td>1111</td>
            <td>新华门大街48号</td>
            <td>192.168.1.1</td>
            <td><img src="image/edit.png" style="padding-right:12px "></div><img src="image/delete.png" style="padding-left:12px; "></td>
        </tr>
        <tr >
            <td>1111</td>
            <td>新华门大街48号</td>
            <td>192.168.1.1</td>
            <td><img src="image/edit.png" style="padding-right:12px "></div><img src="image/delete.png" style="padding-left:12px; "></td>
        </tr>
        <tr >
            <td>1111</td>
            <td>新华门大街48号</td>
            <td>192.168.1.1</td>
            <td><img src="image/edit.png" style="padding-right:12px "></div><img src="image/delete.png" style="padding-left:12px; "></td>
        </tr>
        <tr >
            <td>1111</td>
            <td>新华门大街48号</td>
            <td>192.168.1.1</td>
            <td><img src="image/edit.png" style="padding-right:12px "></div><img src="image/delete.png" style="padding-left:12px; "></td>
        </tr>
        <tr >
            <td>1111</td>
            <td>新华门大街48号</td>
            <td>192.168.1.1</td>
            <td><img src="image/edit.png" style="padding-right:12px "></div><img src="image/delete.png" style="padding-left:12px; "></td>
        </tr>
        </table>
</section>
<ul class="list-unstyled list-inline text-right" style="margin-top:10px;">
    <li>跳转至<input type="text" class="entryPage">页</li>
    <li><select name="" id="" class="skipPage"><option value="20">20条/页</option></select></li>
    <li class="pageName"><img src="image/arrow_left.png"></li>
    <li class="pageName">1</li>
    <li class="pageName">2</li>
    <li class="pageName">3</li>
    <li class="pageName">4</li>
    <li class="pageName"><img src="image/icon_dot.png"></li>
    <li class="pageName"><img src="image/arrow_right.png"></li>
</ul>