<p class="OwnerManage"><img src="image/mplatform_icon_currrent.png" class="homeImg"><span>统计展示 / 停车费统计图表展示</span></p>
<section class="home">
    <ul class="list-unstyled list-inline gatewaySearch">
        <li><span style="margin: 0 12px;">片区</span><input type="text" class="normalIput"></li>
        <li style="margin-left:9px;"><span style="margin: 0 12px;">开始时间</span><input type="text" class="normalIput"></li>
        <li style="margin-left:9px;"><span style="margin: 0 12px;">结束时间</span><input type="text" class="normalIput"></li>
        <li><div class="gatewayQuery text-center"><img src="image/search.png"><span style="margin-left: 10px;">查询</span></div></li>
    </ul>
    <div style="background-color: #FFFFFF;height:550px;overflow-y: scroll">
        <p style="margin-top:20px;padding-left: 10px;">当前收益 <span>50000元</span></p>
        <div id="containerT" style="margin:20px 0"></div>
        <div id="containerM" style="margin:50px 0"></div>
        <div id="containerB" style="margin:50px 0"></div>
    </div>

</section>